﻿body {
  font-size: 1.7em;
}
body.public {
  background-color: white;
}
body.public .navbar-default {
  background-color: white;
}
footer {
  padding: 25px;
}
.form-default {
  max-width: 900px;
}
.form-small {
  max-width: 500px;
}
.FieldHelpButton {
  color: #ccc;
}
.IsolatedPanel {
  border: 2px solid #eee;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  margin-top: 10%;
  background-color: white;
}
.IsolatedPanel .Header {
  background-color: #224587;
  padding: 15px;
  color: white;
  font-size: large;
  font-weight: bold;
}
.IsolatedPanel .Content {
  padding: 30px;
  padding-top: 15px;
}
.IsolatedPanel .Footer {
  background-color: #eee;
  padding: 15px;
}
.hidden {
  display: none;
}
.tag {
  border: 1px solid #ccc;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  border-radius: 5px;
}
.tag:hover {
  background-color: #3c80ff;
  color: white;
  cursor: pointer;
}
div.song .title {
  font-weight: bold;
}
div.song .details {
  color: #555;
}
a {
  cursor: pointer;
}
.moment {
  display: none;
}
#OrderOfEvents {
  margin: 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 25px;
  padding-right: 35px;
  padding-top: 10px;
  box-shadow: 0 0 5px #999;
  background: url('/public/img/layout/linedpaper.png');
  padding-bottom: 10px;
}
div.ServiceItem {
  margin-bottom: 20px;
}
div.ServiceItem:hover .EditIcon,
div.ServiceItem:hover .RemoveIcon,
div.ServiceItem:hover .Handle {
  visibility: visible;
}
div.ServiceItem .Title {
  font-weight: bold;
}
div.ServiceItem .Summary {
  color: black;
}
div.ServiceItem .ExtendedDetails {
  color: #777;
}
div.ServiceItem .Length {
  float: right;
  font-weight: bold;
}
div.ServiceItem .Handle {
  float: left;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  color: #ccc;
  visibility: hidden;
  cursor: move;
}
div.ServiceItem .Handle:hover {
  color: black;
}
div.ServiceItem .EditIcon,
div.ServiceItem .RemoveIcon {
  color: #ccc;
  visibility: hidden;
}
div.ServiceItem .EditIcon:hover {
  color: coral;
}
div.ServiceItem .RemoveIcon:hover {
  color: crimson;
}
div.ServiceItem .Content {
  overflow: hidden;
}
div.ServiceItem .Tags {
  color: #999;
  font-weight: normal;
}
div.ServiceItem.Disabled {
  color: #ccc;
}
div.ServiceItem.Disabled a,
div.ServiceItem.Disabled .details,
div.ServiceItem.Disabled .length {
  color: #ccc;
}
div.Item {
  cursor: pointer;
  padding: 10px;
}
div.Item .Title {
  font-weight: bold;
}
div.Item .Summary {
  color: #999;
}
div.Item:hover {
  color: white;
  background-color: #224587;
}
div.Item:hover .Summary {
  color: white;
}
.IconMenuItem {
  width: 300px;
  border: 1px solid #bbb;
  padding: 5px;
}
.IconMenuItem .Icon {
  padding: 20px;
  text-align: center;
  width: 100%;
  background-color: #eee;
  font-size: 100px;
  line-height: 100px;
  height: 140px;
}
.IconMenuItem .Content {
  margin-left: 10px;
}
.IconMenuItem .Content .Links {
  margin-left: -10px;
}
#event-songs {
  padding-bottom: 200px;
}
.Subtle {
  color: #999;
  font-weight: normal;
}
.handle {
  cursor: move;
}
/*# sourceMappingURL=site.css.map */