@primary:#3c80ff;
@primary-dark: #224587;

body {
    font-size:1.7em;
}

body.public {
    background-color:white;
    .navbar-default { background-color:white; }
}

footer {
    padding:25px;
}

.form-default { max-width:900px; }
.form-small { max-width:500px; }

.FieldHelpButton {
    color:#ccc;
}

.IsolatedPanel {
    .Header {
        background-color:@primary-dark;
        padding:15px;
        color:white;
        font-size:large;
        font-weight:bold;
    }
    .Content {
        padding:30px;
        padding-top:15px;
    }
    .Footer {
        background-color:#eee;
        padding:15px;
    }
    border:2px solid #eee;
    margin:0 auto;
    width:100%;
    max-width:700px;
    margin-top:10%;
    background-color:white;
}

.hidden { display:none; }

.tag {
    border: 1px solid #ccc;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    color:black;
    border-radius:5px;

    &:hover {
        background-color:@primary;
        color:white;
        cursor:pointer;
    }
}

// Songs
div.song {
    .title { font-weight:bold; }
    .details { color:#555; }
}

a { cursor:pointer; }

.moment { display:none; } // Hide by default
#OrderOfEvents {
    margin:20px;
    border-radius:5px;
    border:1px solid black;
    padding-left:25px;
    padding-right:35px;
    padding-top:10px;
    box-shadow:0 0 5px #999;
    background:url('/public/img/layout/linedpaper.png');
    padding-bottom:10px;
}
div.ServiceItem {
    &:hover {
        .EditIcon, .RemoveIcon, .Handle { 
            visibility:visible;
        }
    }
    .Title { font-weight:bold; }
    .Summary { color:black; }
    .ExtendedDetails { color:#777; }
    .Length { float:right; font-weight:bold; }
    .Handle {
        float:left;
        padding:7px;
        padding-left:12px;
        padding-right:12px;
        color:#ccc;
        visibility:hidden;
        &:hover { color:black; }
        cursor:move;
    }
    .EditIcon, .RemoveIcon {
        color:#ccc;
        visibility:hidden;
    }
    .EditIcon:hover { color:coral; }
    .RemoveIcon:hover { color:crimson; }
    .Content { overflow:hidden; }
    .Tags { .Subtle; }

    &.Disabled {
        color:#ccc;
        a, .details, .length { color:#ccc; }
    }

    margin-bottom:20px;
}
div.Item {
    .Title { font-weight:bold; }
    .Summary { color:#999; }
    &:hover {
        color:white;
        background-color:@primary-dark;
        .Summary { color:white; }
    }
    cursor:pointer;
    padding:10px;
}

.IconMenuItem {
    width:300px;
    border:1px solid #bbb;
    padding:5px;
    .Icon {
        padding:20px;
        text-align:center;
        width:100%;
        background-color:#eee;
        font-size:100px;
        line-height:100px;
        height:140px;
    }
    .Content {
        margin-left:10px;
        .Links {
            margin-left:-10px;
        }
    }
}

#event-songs { padding-bottom:200px; }

.Subtle { color:#999; font-weight:normal; }
.handle { cursor:move; }


